* {
    margin: 0;
    padding: 0;  
}

body {
    background-color:#651d92;
    font-family: Arial, Helvetica, sans-serif; 
}

#topo{
    width: 1879px;
    height: 104px;
    position: sticky;
    top: 0px;
    background-color:  #eaeaea;
}

.logo {
    display: inline-block
}

.logo img{
    width: 80px;
    margin-left: 20px;
    position: relative;
    top: 8px;
}

.abas {
    font-weight: bold;
    text-transform: uppercase;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    width: 1155px;
    padding: 10px;
    margin-left: 80px;
    display:inline-block;
    position: relative;
    top: -21px;
}

.abas li:hover{
    transform: scale(1.01);
    transition: 0.3s;
}

.abas li {
    display: inline-block;
    margin-right: 10px; 
}

.conta {
    background-color: #b4b4b4;
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    width: 495px;
    padding: 10px;
    padding-top: 28px;
    padding-bottom: 18px;
    margin-left: 0px;
    display: inline-block;
    position: relative;
    top: -21px;
}
.conta li:hover{
    transform: scale(1.01);
    transition: 0.3s;
}

.conta li{
    display: inline-block;
    margin-right: 10px;
}

.conta ul {
    display: inline-block;
}

#carrinho {
    width: 30px;
    display: inline-block;
    position: relative;
    top: 10px;
}

#lupa {
    width: 30px;
    display: inline-block;
    position: relative;
    top: 10px;
}

#itens {
    padding: 10px;
}