h1 {
    font-size: 40px;
    color: #651d92;
    margin-bottom: 30px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}
h1 {
    position: relative;
    top: 20px;
}