#produtos{
    width: 50%;
    margin: auto;
}
#produtos li{
    background-color: white;
    width: 100%;
    height: 500px;
    display: inline-block;
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s;
    margin: 20px;
}
#produtos a{
    text-decoration: none;
}
.produtos li:hover{
    transform: scale(1.05);
}
#produtos img{
    height: 100%;
    width: 50%;
    float: left;
    object-fit: cover;
    border-radius: 20px;
}
#produtos .carrinho{
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.carrinho a{
    font-size: 20px;
    background-color: #651d92;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
