* {
    margin: 0;
    padding: 0;  
}

body {
    background-color:#651d92;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;  
}

#topo{
    height: 104px;
    position: sticky;
    top: 0px;
    background-color:  #eaeaea;
}

.logo {
    display: inline-block
}

.logo img{
    width: 80px;
    margin-left: 20px;
    position: relative;
    top: 8px;
}

.abas {
    font-weight: bold;
    text-transform: uppercase;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-left: 80px;
    display:inline-block;
    position: relative;
    top: -21px;
}

.abas li:hover{
    transform: scale(1.01);
    transition: 0.3s;
}

.abas li {
    display: inline-block;
    margin-right: 10px; 
}

.conta {
    float: right;
    background-color: #b4b4b4;
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 14px;
    position: relative;
}
.conta li:hover{
    transform: scale(1.01);
    transition: 0.3s;
}

.conta li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 11px;
}

.conta ul {
    display: inline-block;
}

#carrinho {
    width: 30px;
    display: inline-block;
    position: relative;
    top: 10px;
}

#lupa {
    width: 30px;
    display: inline-block;
    position: relative;
    top: 10px;
}

#itens {
    padding: 10px;
}
#ab{
    display: inline-block;
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: #000000;
    border: 2px solid #000000;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
  
#ab span{
    position: relative;
    z-index: 2;
}
  
#ab:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #651d92;
    transition: all .35s;
}
  
#ab:hover{
    color: #fff;
}
  
#ab:hover:after{
    width: 100%;
}

/*---------------------------*/

#log{
    display: inline-block;
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: #000000;
    border: 2px solid #000000;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
  
#log span{
    position: relative;
    z-index: 2;
}
  
#log:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fbcd24;
    transition: all .35s;
}
  
#log:hover{
    color: #fff;
}
  
#log:hover:after{
    width: 100%;
}

/*---------------FOOTER------------------*/
footer {
    background-color: #eaeaea;
    width: 100%;
    height: 230px;
    position: relative;
    bottom: -50px;
}

#insta, #twt, #yt, #face {
    padding-left: 20px;
    margin: 10px 0;
    width:40px;
    display: inline;
}

.elementos{
    width: 800px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.redes{
    width: 450px;
    margin: auto;
    margin-bottom: 20px;
}

.titulo{
    font-size: 15px;
    color: black;
}

#titulo {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(26, 26, 26);
}
  
#subtitulo {
    font-size: 1.0em;
    font-weight: 600;
    color: rgb(99, 99, 99);
    text-align: right;
}
   
.avaliação {
    display: inline-block;
}
    
.avaliação input {
    display: none;
}
    
.avaliação label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}
    
.avaliação label:before {
    content: '\2605';
    font-size: 30px;
}
    
.avaliação input:checked ~ label,
.avaliação label:hover,
.avaliação label:hover ~ label {
    color: #651d92;
    transition: color 0.3s;
}
/*---------------FOOTER------------------*/
