.carrossel {
    height: 250px auto;
    width: 1879px auto;
}

.carrossel-container {
    display: inline-block;
}

.vem, .vai {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    top: 230px;
}

.vai {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.vem {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.vem:hover, .vai:hover {
    background-color: rgba(0,0,0,0.8);
}
 
/*---------------------------------*/

.cookies {
  width: 300px;
  height: 220px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 13px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
}
  
#cookieSvg {
  width: 50px;
}
  
#cookieSvg g path {
  fill: rgb(97, 81, 81);
}
  
.cookieHeading {
  font-size: 1.2em;
  font-weight: 800;
  color: rgb(26, 26, 26);
}
  
.cookieDescription {
  text-align: center;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(99, 99, 99);
}
  
.buttonContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
  
.acceptButton {
  width: 80px;
  height: 30px;
  background-color: #651d92;
  transition-duration: .2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
}
  
.declineButton {
  width: 80px;
  height: 30px;
  background-color: #b4b4b4;
  transition-duration: .2s;
  color: rgb(46, 46, 46);
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
}
  
.declineButton:hover {
  background-color: #ce0000;
  transition-duration: .2s;
}
  
.acceptButton:hover {
  background-color:#fbcd24;
  transition-duration: .2s;
}
